@model ShawInterviewExercise.DAL.Show
<nav class="show-header">
    <img src="@Url.Content(Model.ImageUrl)" class="show-header-image" />
    <a href="~/@Model.Name">Main</a>
    <a href="~/@Model.Name/Video">Video</a>
</nav>
