@model ShawInterviewExercise.DAL.Show

@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shows/_ShowLayout.cshtml";
}
@Html.Partial("_ShowHeader",Model)
<div class="content show-body">
    <p>Video Url: @(Model.VideoUrl == null ? "(No Url provided)" : Model.VideoUrl)</p>
</div>
